.footer{
    height: 20rem;
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -15rem;
}
.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap: 3rem;
    color: white;
}
.f-icons{
    display: flex;
    gap: 4rem;
    color: white;
    cursor: pointer;
}
.footer:hover{
   transform: 0.2rem;
}
.top{
    /* transition: 2s; */
    margin-left: 55rem;
    margin-top: -15rem;
    transform: 5rem;
    font-size: 3rem;
    cursor: pointer;
    color: aqua;
}
.thanku{
    font-size: 1.7rem;
    /* z-index: -1; */
    color: white;
    /* font-size: large; */
    margin-bottom: -6rem;
}